# Auth
NEXTAUTH_SECRET=generate-a-random-string
NEXTAUTH_URL=http://localhost:3000
ADMIN_USER_1_EMAIL=ranjan@adsgupta.com
ADMIN_USER_1_PASSWORD=hashed-password
ADMIN_USER_1_NAME=Ranjan Dasgupta
ADMIN_USER_1_SUBDOMAIN=ranjan
ADMIN_USER_2_EMAIL=pousali@adsgupta.com
ADMIN_USER_2_PASSWORD=hashed-password
ADMIN_USER_2_NAME=Pousali Dasgupta
ADMIN_USER_2_SUBDOMAIN=pousali

# Database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Storage
BLOB_READ_WRITE_TOKEN=

# AI
GEMINI_API_KEY=

# Other
DB_INIT_SECRET=
